@import '../../../ColourTheme/ColourTheme.scss';

.AddRemoveProduct {
    width: 85%;
    height: 80vh;
    margin:auto;
    background-color: $primaryColor;
    border-radius: 12px;
    padding:2% 6%;
    overflow-y: scroll;
}

.AddRemoveProduct::-webkit-scrollbar{
    display: none;
}

.QuantityTextbox {
    width: 25%;

}

.QuantityLabel {
    color: $white;
    margin-top: 3%;
}

.QuantityOuter {
    display: flex;
}

.NextBtn {
    background-color: $nextBtn;
    margin-left: 3%;
}

.NextBtn:hover,
.NextBtn:focus,
.NextBtn:active,
.NextBtn.active {
    background-color: $secondaryColor;
    outline: none;
    box-shadow: none;
}