@import '../../../ColourTheme/ColourTheme.scss';

.tabBtns {
    margin: 3% auto;
    font-size: 10px;
}

.tabBtn {
    background-color: $btnColor;
    border: none;
}

.tabBtn:hover,
.tabBtn:focus,
.tabBtn:active,
.tabBtn.active {
    background-color: $btnSecondary;
    outline: none;
    box-shadow: none;
}